.DS_Store
aclocal.m4
ar-lib
autom4te.cache
benchdata
compile
config.*
configure
configure~
configure.ac.old
depcomp
include/
install-sh
lib/
libtool
ltmain.sh
m4/
Makefile.in
Makefile
missing
stamp-h1
test-driver
ylwrap
*.swp
.deps
*.dot
*.pdf
*.tar.gz
