*.o
*.lo
.dirstamp
*.log
*.trs
.libs
bug_00
bug_01
bug_02
check_xA
chk_copy
chk_cross
chk_ct
chk_ct_old
chk_iters
chk_minterms
chk_reorder
ddedge
domain_list
enctest
kan_batch
kan_index
kan_io
kan_show
kanban
nodestor
nqueens
ops_arith
ops_comp
ops_set
randtest
refcount
sat_test
kan_io.data.*
