/*
 * $Id: print.css 100 2010-06-10 16:37:08Z asminer $
 */

/*** basic layout ***/

body {
  background: #fff;
  margin: 0;
}
#logobar, #sidebar {
  display: none;
}
#content {
  padding: 0 1em;  /* allow for h2 outdent */
  margin: 0;
}

/* EOF */
