*.o
*.lo
.dirstamp
.libs
applyinfo
dining_phils
graphs_to_mdds
hanoi
kanban
knight
knight2
libinfo
life
nqueens
qc2
queen_cover
rebuild_mdd
slot
swaps
test_implicit_kanban
test_implicit_pool
test_implicit_smallos
test_memory
test_otf_sat
test_sccs
tiles
