*.o
*.lo
.dirstamp
.libs
build_expression
dining_phils
graphs_to_mdds
kanban
kan1_batch
libinfo
life
nqueens
qc2
queen_cover
rebuild_mdd
rubiks_cube
rubiks_cube_orient
rubiks_cube_phase
rubiks_rings
slot
slot_phase
square1
swaps
test_evmdd
test_implicit_kanban
test_implicit_pool
test_implicit_smallos
test_memory
test_mtmdd
test_mtmxd
test_otf_sat
test_reorder_evmdd
test_reorder_mtmxd
test_sccs
test_temporary_nodes
test_union_mdd
test_union_mxd
test_user_operation
test_xdds
testmddlib
