*.o
*.lo
.dirstamp
build_expression
dining_phils
graphs_to_mdds
kanban
.libs
libinfo
life
nqueens
qc2
queen_cover
rebuild_mdd
rubiks_cube
rubiks_cube_orient
rubiks_cube_phase
rubiks_rings
slot
slot_phase
square1
swaps
test_evmdd
test_mtmdd
test_mtmxd
test_reorder_evmdd
test_reorder_mtmxd
test_union_mdd
test_union_mxd
testmddlib
